<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<link rel="icon" href="https://raw.githubusercontent.com/QuantumChemist/QuantumChemist.github.io/main/utils/QClogo.png"> 

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<!-- https://raw.githubusercontent.com/QuantumChemist/lix/master/LiX.png -->

<!-- end custom head snippets -->
