
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #212121;
  background-image: linear-gradient(to bottom, #212121, #333);
}

h1 {
  color: #66d9ef;
  text-shadow: 2px 2px 5px #000;
}

h2 {
  color: #ff69b4;
  font-size: 24px;
  font-weight: bold;
}

p {
  color: #ccc;
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #03A9F4;
  text-decoration: none;
}

a:hover {
  color: #66d9ef;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #2f2f2f;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: #333;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
}

.navbar a:hover {
  color: #66d9ef;
}

.github-link {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #ccc;
  font-size: 24px;
}

.github-link:hover {
  color: #66d9ef;
}

.fa-github {
  margin-right: 10px;
}

header {
  background-image: linear-gradient(to bottom, #212121, #333);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

