
body {
  font-family: 'Arial Black', Arial, sans-serif;
  background-image: linear-gradient(to bottom, #ff69b4, #ffe6f2);
  background-attachment: fixed;
}

h1 {
  color: #333;
  text-shadow: 2px 2px 5px #ffff00;
  font-size: 50px;
}

h2 {
  color: #00698f;
  font-size: 30px;
}

p {
  color: #666;
  font-size: 18px;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

marquee {
  background-color: #ffff00;
  padding: 10px;
  font-size: 30px;
}

marquee font {
  text-shadow: 2px 2px 5px #ff0000;
}

img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fa {
  font-size: 30px;
  margin: 10px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-github {
  color: #333;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-cog {
  color: #666;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rip {
  background-image: linear-gradient(to bottom, #333, #666);
  background-attachment: fixed;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.rip h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #ff0000;
}

.rip p {
  font