
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2ecc71);
}

h1 {
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  color: #ff9800;
  text-align: center;
}

.cv-container {
  width: 80%;
  margin: 40px auto;
  background-color: #ecf0f1;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv-summary {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.cv-summary h2 {
  margin-top: 0;
}

.cv-content {
  padding: 20px;
}

.cv-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cv-content li {
  margin-bottom: 10px;
}

.cv-content li:before {
  content: "\f058";
  font-family: FontAwesome;
  margin-right: 10px;
  color: #2ecc71;
}

.cover-letter {
  background-color: #f1c40f;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  margin-top: 20px;
}

.cover-letter h2 {
  margin-top: 0;
}

.contact-form {
  background-color: #ecf0f1;
  padding: 20px;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  margin-top: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
  width: 100%;
  height: 40px;
 