css
body {
  font-family: 'Arial Black', Arial, sans-serif;
  background-color: #ffe6cc;
  background-image: linear-gradient(to bottom, #ff9900, #ffcc00);
}

h1 {
  color: #0033ff;
  text-shadow: 2px 2px 5px #ff0000;
  font-size: 50px;
}

p {
  font-size: 18px;
  color: #0066ff;
  text-align: justify;
}

marquee {
  font-size: 30px;
  color: #ffff00;
  background-color: #ff0000;
  padding: 10px;
}

marquee font {
  text-shadow: 2px 2px 5px #000000;
}

footer {
  background-color: #ffcc00;
  color: #0033ff;
  text-align: center;
  padding: 10px;
  clear: both;
}

footer p {
  font-size: 16px;
}

/* FontAwesome icons */
.fa {
  font-size: 24px;
  margin: 10px;
}

/* GitHub link */
.github-link {
  color: #0066ff;
  text-decoration: none;
}

.github-link:hover {
  color: #ff0000;
}

/* Favourite mineral link */
.mineral-link {
  color: #0033ff;
  text-decoration: none;
}

.mineral-link:hover {
  color: #ffcc00;
}

/* Dr. Christina Ertural link */
.ertural-link {
  color: #ff0000;
  text-decoration: none;
}

.ertural-link:hover {
  color: #0066ff;
}

/* Random image styles */
.random-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
}

.random-image-0 {
  background-image: url('https://picsum.photos/200/300');
}

.random-image-7 {
  background-image: url('https://picsum.photos/600/700');
}

/* OpenGLaDOS logo */
.openglados-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url