body {
  font-family: Arial, sans-serif;
  background-color: #ff69b4;
  background-image: linear-gradient(to bottom, #ff69b4, #ffe6cc);
}

h1 {
  color: #008000;
  text-shadow: 2px 2px 5px #808080;
}

h2 {
  color: #4b0082;
  text-align: center;
}

p {
  font-size: 18px;
  color: #666;
  text-indent: 20px;
}

a {
  text-decoration: none;
  color: #00698f;
}

a:hover {
  color: #008000;
}

.container {
  width: 80%;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header i {
  color: #fff;
  font-size: 24px;
}

.navbar {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: #fff;
  margin: 10px;
}

.navbar a:hover {
  color: #ccc;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  width: calc(33.33% - 20px);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  color: #4b0082;
}

.card p {
  font-size: 16px;
  color: #666;
}

.contact-form {
  background-color: #