body {
  font-family: Arial, sans-serif;
  background-color: #ff69b4;
  background-image: linear-gradient(to bottom, #ff69b4, #ffe6f2);
}

h1 {
  color: #008000;
  text-shadow: 2px 2px 5px #808080;
}

h2 {
  color: #4b0082;
  font-size: 36px;
  text-align: center;
}

.CV-header {
  background-color: #6495ed;
  padding: 20px;
  text-align: center;
}

.CV-header i {
  color: #ffffff;
  font-size: 48px;
}

.CV-about {
  background-color: #f0e4cc;
  padding: 20px;
  text-align: justify;
}

.CV-about img {
  float: right;
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(https://picsum.photos/200/300);
}

.CV-skills {
  background-color: #ccffcc;
  padding: 20px;
  text-align: left;
}

.CV-skills i {
  color: #008000;
  font-size: 24px;
  margin: 10px;
}

.CV-projects {
  background-color: #ffffcc;
  padding: 20px;
  text-align: center;
}

.CV-projects img {
  width: 400px;
  height: 600px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url(https://picsum.photos/400/600);
}

.CV-contact {
  background-color: #ffcccc;
  padding: 20px;
  text-align: center;
}

.CV-contact i {
  color: #ff0000;
  font-size: 36px;
  margin: 10px;
}

.fa {
  margin: 10px;
}

.CV-social