body {
  font-family: Arial, sans-serif;
  background-color: #0000ff;
  background-image: linear-gradient(to bottom, #ff69b4, #33cc33, #6666ff);
}

h1 {
  color: #ffff00;
  text-shadow: 2px 2px 5px #ff0000;
}

h2 {
  color: #ff00ff;
  font-size: 36px;
  font-style: italic;
}

p {
  color: #008000;
  font-size: 18px;
  background-color: #ffffcc;
  padding: 10px;
  border: 1px solid #ff9900;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

a {
  color: #0000ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

img {
  border: 5px solid #ffcc00;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #cccccc;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  clear: both;
}

footer a {
  color: #cccccc;
}

.openglados {
  color: #ff69b4;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}