body {
  font-family: Arial, sans-serif;
  background-color: #ff99cc;
  background-image: linear-gradient(to bottom, #ff99cc, #ffe6f2);
}

h1 {
  color: #00698f;
  text-shadow: 2px 2px 5px #cccccc;
}

h2 {
  color: #0099ff;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #660033;
}

a:hover {
  color: #ff0066;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #444;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #cccccc;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
}

footer {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 10px;
}

.fa {
  margin-right: 10px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  margin: 20px;
}

.skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills li {
  margin