body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #ff69b4;
    background-image: linear-gradient(to bottom right, #ff69b4, #33cc33);
}

h1 {
    color: #6633ff;
    text-shadow: 2px 2px 5px #ff0000;
}

h2 {
    color: #0099ff;
    font-size: 24px;
    font-style: italic;
}

p {
    color: #666666;
    font-size: 18px;
    font-style: oblique;
}

a {
    color: #ff9900;
    text-decoration: none;
}

a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.fa {
    color: #3366ff;
}

/* Cummingtonite inspired styles */
.cummingtonite {
    background-color: #663300;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
}

.cummingtonite:hover {
    background-color: #996633;
    color: #ffffff;
}

/* Quantum chemistry inspired styles */
.quantum-chemistry {
    background-color: #ccffcc;
    color: #006600;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
}

.quantum-chemistry:hover {
    background-color: #99ff99;
    color: #006600;
}

/* Solid-state chemistry inspired styles */
.solid-state-chemistry {
    background-color: #ffcccc;
    color: #660000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px
