```
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, #ff69b4, #33cc33, #6666ff);
  animation: glitch 5s infinite;
}

h1 {
  color: #333;
  text-shadow: 2px 2px 5px #ff0000, -2px -2px 5px #00ff00;
  font-size: 48px;
  animation: pulse 2s infinite;
}

p {
  color: #666;
  font-size: 18px;
  text-align: justify;
  background-color: #cccccc;
  padding: 10px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000000;
}

a {
  color: #0099ff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #ff9900;
  text-shadow: 2px 2px 5px #ffffff;
}

@keyframes glitch {
  0% {
    background-color: #f0f0f0;
  }
  25% {
    background-color: #ff69b4;
  }
  50% {
    background-color: #33cc33;
  }
  75% {
    background-color: #6666ff;
  }
  100% {
    background-color: #f0f0f0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.openglados {
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000000;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
