body {
  font-family: 'Arial', sans-serif;
  background-color: #ff99cc;
  background-image: linear-gradient(to bottom, #ff99cc, #ff66b3);
}

h1 {
  color: #0099ff;
  text-shadow: 2px 2px 5px #cccccc;
}

h2 {
  color: #ff6600;
  font-size: 36px;
  text-align: center;
}

 CV Website {
  background-image: url(https://picsum.photos/400/600);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

 CV Website h1 {
  font-size: 48px;
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #cccccc;
  }
  50% {
    text-shadow: 0 0 20px #cccccc;
  }
  100% {
    text-shadow: 0 0 10px #cccccc;
  }
}

.fa {
  font-size: 24px;
  margin: 10px;
  color: #ff0099;
}

.fa-github {
  color: #00698f;
}

.github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  color: #00698f;
}

.github-link:hover {
  color: #0099ff;
}

 banner {
  background-image: url(https://picsum.photos/200/300);
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

 banner h2 {
  font-size: 36px;
  text-shadow: 2px 2px 5px #cccccc;
}

 banner i {
  font-size: 48px;
  color: #ffcc00;
}

i.fa.fa-camera {
  color: #cc0099;
}

i.fa.fa-bell {
  color: #99ff00;
  animation: