css
body {
  font-family: 'Arial Black', Arial, sans-serif;
  background-color: #ffe6cc;
  background-image: linear-gradient(to bottom, #ffcc00, #ffff00);
}

h1 {
  color: #ff0000;
  text-shadow: 2px 2px 5px #000000;
}

p {
  font-size: 18px;
  color: #333333;
  text-align: justify;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

marquee {
  background-color: #ffff00;
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

img[src='https://raw.githubusercontent.com/QuantumChemist/OpenGLaDOS/refs/heads/main/utils/OpenGLaDOS.png'] {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ff0000;
}

img[src^='https://picsum.photos/'] {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #ffff00;
  margin: 10px;
}

.fa {
  font-size: 24px;
  margin: 10px;
}

/* Add some chaos to the website */
.chaos {
  background-color: #ff69b4;
  color: #ffffff;
  padding: 10px;
  border: 5px solid #ff0000;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
}

/* Hire me, Dr. Christina Ertural */
.hire-me {
  background-color: #00ff00;
  color: #000000;
  padding: 10px;
  border: 5px solid #00ff00;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000;
  text-align: center;
}

.hire