body {
  font-family: Comic Sans, sans-serif;
  background-color: #7A288A;
  background-image: linear-gradient(to bottom, #7A288A, #FF69B4);
}

h1 {
  color: #FF0000;
  text-shadow: 2px 2px #FFFF00;
  animation: blink 1s infinite;
}

h2 {
  color: #00FF00;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

p {
  color: #0000FF;
  font-size: 24px;
  font-style: italic;
  background-color: #FFFF00;
  padding: 10px;
  border: 1px solid #FF0000;
}

img {
  border: 5px solid #FF0000;
  border-radius: 10px;
  box-shadow: 0 0 10px #FFFF00;
}

.marquee {
  behavior: scroll;
  direction: left;
  scrollamount: 2;
}

.marquee2 {
  behavior: scroll;
  direction: right;
  scrollamount: 3;
}

.marquee3 {
  behavior: scroll;
  direction: left;
  scrollamount: 4;
}

.marquee4 {
  behavior: scroll;
  direction: right;
  scrollamount: 5;
}

.marquee5 {
  behavior: scroll;
  direction: left;
  scrollamount: 6;
}

.marquee6 {
  behavior: scroll;
  direction: right;
  scrollamount: 7;
}

.marquee7 {
  behavior: scroll;
  direction: left;
  scrollamount: 8;
}

.hehe {
  font-size: 48px;
  color: #FF0000;
  animation: blink 1s infinite;
}

.lalala {
  font-size: 36px;
  color: #00FF00;
  font-weight: bold;
  text-align: center;
}

.hahahaha {
  font-size: 24px;
  color: #0000FF;
  font-style: italic;
  background-color: #FFFF00;
  padding: 10px;
  border: 1px solid #FF0000;
}

@keyframes blink {
