body {
  font-family: Arial, sans-serif;
  background-color: #ff99cc;
  background-image: linear-gradient(to bottom, #ff99cc, #ffff00);
}

h1 {
  color: #008000;
  text-shadow: 2px 2px 5px #ff0000;
  font-size: 36px;
}

h2 {
  color: #0000ff;
  font-size: 24px;
  text-align: center;
}

p {
  color: #666666;
  font-size: 18px;
  text-align: justify;
}

a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #00ff00;
  text-decoration: underline;
}

.fa {
  color: #ffff00;
  font-size: 24px;
  margin: 10px;
}

.header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  clear: both;
}

.footer i {
  color: #ffff00;
  font-size: 18px;
  margin: 5px;
}

i.fa-facebook {
  color: #3b5998;
}

i.fa-twitter {
  color: #1da1f2;
}

i.fa-instagram