body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.business-card {
    width: 300px;
    background-color: #fff8f5;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

.profile-image {
    max-width: 100%;
}

.social-media h2 {
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 5px 10px;
    color: #333;
}
